.headerText{
  margin: 200px 200px 0px 0px;
  font-weight: bold;
}
.para{
    font-size: 15px;
    font-weight: bold;
    font-family: "Hind", sans-serif;
    text-align: center;
}
.link{
    text-decoration: none;
    color: black;
    font-family: "Sen", sans-serif;
    transition: 0.3s ease-in-out;
    transition-timing-function: linear;
}
.link:hover{
  background-color: #E7717D;
  border-radius: 20px;
  color: #FFFFFF;
  padding: 8px 12px;
  word-wrap: none;
}
.heading{
  font-size: 17px;
  font-weight: bold;
  font-family: 'Sen', sans-serif;
  border: 2px solid #ececec;
}
@media (max-width: 768px) {
  .headerText{
    margin: 20px 20px;
  }
    .para{
        font-size: 11px;
    }
    .heading{
      font-size: 13px;
    }
  }