.header{
  margin: 200px 200px 0px 200px;
  font-weight: bold;
}
.para{
    font-size: 15px;
    font-weight: bold;
    font-family: "Hind", sans-serif;
}
.link{
    text-decoration: none;
    color: black;
    font-family: "Sen", sans-serif;
    transition: 0.3s ease-in-out;
    transition-timing-function: linear;
}
.link:hover{
  background-color: #E7717D;
  border-radius: 20px;
  color: #FFFFFF;
  padding: 10px 10px;
}
.heading{
  font-size: 17px;
  font-weight: bold;
  font-family: 'Sen', sans-serif;
}
@media (max-width: 768px) {
  .header{
    margin: 20px 20px;
  }
    .para{
        font-size: 11px;
    }
    .heading{
      font-size: 13px;
    }
  }